<div class='link-header'>
  <h2>Link List</h2>
  <input type='text' [(ngModel)]="link_key" placeholder="narration..." />
  <input type='text' #box_value [(ngModel)]="link_value" placeholder="link..." (keyup.enter)="add(box_value.value)" (blur)="add(box_value.value)"/>
</div>

<div class='link-body'>
  <h4 style="text-align: center">your link list</h4>
  <ul>
    <li *ngFor="let item of link_list; let key = index">
      <a [href]="item.value" target="_blank">{{item.key}}</a>
      <button (click)='delete(key)'>delete</button>
    </li>
  </ul>
</div>
