<div class='link-header'>
  <h2>Link List</h2>
  <input type='text' [(ngModel)]="link_key" placeholder="narration..." />
  <input type='text' #box_value [(ngModel)]="link_value" placeholder="link..." (keyup.enter)="add(box_value.value)" (blur)="add(box_value.value)"/>
</div>

<div class='link-body'>
  <h4 style="text-align: center">your link list</h4>
  <ul>
    <li *ngFor="let item of link_list; let key=index">
        <div *ngIf="(key+1) % 6 == 0" style='
        width: 94.8%;
        border-bottom: 1px dotted purple;
        margin: 20px 0;
      '></div>
      <a [href]="item.value" target="_blank">{{item.key}} <span style='padding: 0 10px;'>|</span><span style='font-size: 10px;'>{{item.value}}</span> </a>
      <button (click)='delete(item)'>delete</button>
    </li>
  </ul>
</div>
