<div class="todo-header">
  <h2>ToDo List</h2>
  <input type="text" placeholder="do something..." [(ngModel)]="keyword" (keyup)="add($event)"/>
</div>

<div class="todo-body">
  <div class='doing'>
    <h4 style="text-align: center;">正进行</h4>
    <ul>
      <li *ngFor="let item of todo_list; let key=index" [hidden]="item.status == 1">
        <input type="checkbox" [(ngModel)]="item.status" (change)="checkboxChange()"/>
        {{item.title}}
        <button (click)="delete(key)">delete</button>
      </li>
    </ul>
  </div>

  <div class='done'>
    <h4 style="text-align: center;">已完成</h4>
    <ul>
        <li *ngFor="let item of todo_list; let key=index" [hidden]="item.status == 0">
          <input type="checkbox" [(ngModel)]="item.status" (change)="checkboxChange()"/>
          {{item.title}}
          <button (click)="delete(key)">delete</button>
        </li>
    </ul>
  </div>

</div>
