.todo-header {
    margin-left: 20px;
}

input[type=text] {
    width: 200px;
    outline: none;
    border: none;
    border-bottom: 1px solid purple;
    transition: 0.4s;
}

input[type=text]:focus {
    width: 50%;
}

li {
    list-style-type: none;
    margin-bottom: 12px;
}

.doing {
    margin: 50px 80px;
    padding: 5px 20px;
    border: 1px solid purple;
    outline: none;
    border-radius: 10px;
    
}

.done {
    margin: 40px 80px;
    padding: 5px 20px;
    border: 1px solid purple;
    outline: none;
    border-radius: 10px;
    
}

button {
    float: right;
    outline: none;
    border: 1px solid purple;
    background:white;
    border-radius: 5px;
}
