a{
    color: #989898;
    text-align: center;
}

a:hover {
    color: #da70d6;
}

h2{
    text-align: center;
}


nav {
    border-top: 5px solid white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    position: fixed;
    left: 0;
    // height: 6%;
    width: 100%;
    background: white;
    z-index: 10;
}

nav:hover {
    background: #eee;
}
