<div class="note-root">
  <div class="left">
    <div style="margin-top: 120px;">
      <button class="button1" (click)="edit()">edit</button>
      <button class="button2" (click)="show_list()">show</button>
      <button class="button3">正序/倒序</button>
      <button class="button4">{{count}}</button>
    </div>
  </div>

  <!-- edit -->
  <div class="right" *ngIf="page == 1">
    <div class="post" >
      <div class="post-left">
          <textarea placeholder="something..." #box1 [(ngModel)]="content" ></textarea>
      </div>
      <div class="post-right">
        <div class="post-right-one">
          <button (click)="save()">save</button>
        </div>
        <div class="post-right-two">
          <button (click)="reset()">reset</button>
        </div>
        <div class="post-right-three" *ngIf="isShowTime === true">
          Created at<br/>
          {{time | date:"yyyy-MM-dd hh:mm:ss a EEEE"}}
        </div>
      </div>
    </div>
  </div>

  <div class="right" *ngIf="page == 2">
    <div *ngFor="let item of data_list;">
      <textarea class="show">{{item.post}}</textarea>
      <div class="show_operation">
        <p>{{item.time | date:"yyyy-MM-dd hh:mm:ss a EEEE"}}</p>
        <button class='del_icon' (click)="delete(item)">
          <i class="g_del"></i>
        </button>
        <button class='view_icon' (click)="show_detail(item)">
          <i class="g_view"></i>
        </button>
      </div>
    </div>
  </div>
</div>