<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <h2></h2>
</div> -->
<div class='home'>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>中午</th>
      <th>傍晚</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Monday</th>
      <td>二头肌</td>
      <td>硬拉，胸</td>
    </tr>
    <tr>
      <th>Tuesday</th>
      <td>三头</td>
      <td>腰，腹</td>
    </tr>
    <tr>
      <th>Wednesday</th>
      <td>背上</td>
      <td>深蹲，背中</td>
    </tr>
    <tr>
      <th>Thursday</th>
      <td>肩，上推</td>
      <td>腰，腹</td>
    </tr>
    <tr>
      <th>Friday</th>
      <td>背上</td>
      <td>五公里，胸</td>
    </tr>
    </tbody>
  </table>
</div>
